---
meta:
  lang: en
  title: Samuel J. Huskey
  description: Samuel J. Huskey's personal website
layout: base
eleventyNavigation:
  key: Home
---

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">Welcome!</h1>
    <p>This is the personal web site of Samuel J. Huskey.</p>
    <p>
      I launched as a space where I could write about my adventures in web development, text and data analysis, digital
      philology, and technology in general, apart from my main research project, the
      <a href="https://digitallatin.org/">Digital Latin Library</a>.
    </p>

    <p>
      I intend to use this site to post about technical issues and problems that I run into while building and
      maintaining various digital resources, mostly to keep a record for myself of how I solved them. If that
      information helps someone else, all the better!
    </p>

    <p>
      I also wanted to experiment with different web applications. I've been a Drupal developer since version 6, and I
      have also worked with ExpressionEngine and a variety of other content management systems. I built the first
      version of this site with WordPress, then I tried it on <a href="https://jekyllrb.com/">Jekyll</a>. Now it's on
      <a href="https://www.11ty.dev/">11ty</a>!
    </p>

    <p>
      If you want to know more about me, I invite you to read my <a href="about">About page</a> and view my
      <a href="about/cv.html">CV</a>.
    </p>
    <hr />
    <h2>My Blog Posts</h2>
    <ul>
      {%- for item in collections.posts | reverse -%}
      <li>
        <a href="{{ item.url | url }}">{{ item.data.title }}</a> | {{ item.data.date | dateReadable }}
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
